@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg, #8124a3, #242d70);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 40px;
}

h1 {
  font-size: 50px;
  color: aliceblue;
}

.text {
  border-radius: 15px;
  border: none;
  padding: 15px 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(238, 136, 170);
}
