* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: -moz-linear-gradient(left, green, red);
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  background-color: linear-gradient(
    -90deg,
    rgb(202, 149, 208),
    rgb(130, 21, 103)
  );
}
inputs {
  display: flex;
}
