* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(141, 141, 141);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  gap: 10px;
}
.Open-btn {
  padding: 10px 30px;
  background-color: rgb(113, 21, 98);
  color: aliceblue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.Open-btn:hover {
  transform: scale(1.1);
}
.modal-outter {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(141, 141, 141);
}
.modal-outter.show {
  display: flex;
}
.modal-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 350px;
  background-color: #c86565;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  gap: 30px;
}

.modal-inner button {
  padding: 10px 30px;
  background-color: rgb(113, 21, 98);
  color: aliceblue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.modal-inner p {
  color: aliceblue;
}
