* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  background-image: url(01.avif);
  background-position: center;
  background-size: cover;
  height: 100vh;
  gap: 25px;
}
.container {
  height: 100vh;

  display: flex;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  color: #fff;
}
.header {
  padding: 50px 20px;
}
.header h1 {
  font-size: 50px;
  color: #fbb034;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.9);
}
.content {
  font-size: 20px;
}
#searchBar {
  text-align: center;
  width: 100%;
  color: #fbb034;
  font-size: 20px;
  outline: 0;
  border-radius: 15px;
  padding: 15px;
  border: 0;
  background: transparent;
  border-bottom: 2px solid #fbb034;
}
.city {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.8);
}
.temp {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  text-shadow: 1px 5px rgba(0, 0, 0, 0.1);
}
.desc {
  font-size: 100px;
  font-style: italic;
  margin-bottom: 10px;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.8);
}
.minmax {
  font-size: 24px;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.8);
}
